INTERNSHIP/flows.json
[{"id":"f770c178.893a9","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3e470429.dba7dc","type":"function","z":"f770c178.893a9","name":"pre token","func":"global.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\nglobal.set(\"u\",msg.payload.u);\n\nvar apikey = \"oMmv2bzP79_EYmRLmQbA7CIvUeCYZl9j-t9ofnJIv8Fo\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload = {\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\n\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":320,"wires":[["623b2042.9cc4f"]]},{"id":"7c83851e.3027cc","type":"function","z":"f770c178.893a9","name":"sendToEndpoint","func":"var token = msg.payload.access_token;\nvar instance_id = \"fabfcfc2-5834-4f44-82e2-e6ccc5f8190d\";\nmsg.headers= {\"Content-Type\":\"application/json\",\"Authorization\":\"Bearer\"+token,\"ML-Instance-ID\":instance_id};\n\n\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\nvar s = global.get(\"s\");\nvar t = global.get(\"t\");\nvar u = global.get(\"u\");\n\nmsg.payload = { \"fields\":['Country', 'Year', 'Status', 'Adult Mortality',\n       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',\n       'Measles', 'BMI', 'under-five deaths', 'Polio', 'Total expenditure',\n       'Diphtheria', 'HIV/AIDS', 'GDP', 'Population', 'thinness  1-19 years',\n       'thinness 5-9 years', 'Income composition of resources', 'Schooling'],\n       'values':[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u]]};\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":320,"wires":[["d6ae9d90.55c07"]]},{"id":"623b2042.9cc4f","type":"http request","z":"f770c178.893a9","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":350,"y":140,"wires":[["7c83851e.3027cc"]]},{"id":"d6ae9d90.55c07","type":"http request","z":"f770c178.893a9","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/fabfcfc2-5834-4f44-82e2-e6ccc5f8190d/deployments/417cb4a3-5255-49c3-b06d-20adf5598b78/online","tls":"","persist":false,"proxy":"","authType":"basic","x":690,"y":140,"wires":[["abfe283f.2ba0f8","f132fd6c.2ee4b"]]},{"id":"abfe283f.2ba0f8","type":"ui_text","z":"f770c178.893a9","group":"e6d94bb4.e05cc8","order":1,"width":0,"height":0,"name":"","label":"Life Expectancy","format":"{{msg.payload.values[0][0]}}","layout":"row-spread","x":910,"y":240,"wires":[]},{"id":"ecdcfd23.2c0f1","type":"ui_form","z":"f770c178.893a9","name":"","label":"","group":"e6d94bb4.e05cc8","order":0,"width":0,"height":0,"options":[{"label":"Country","value":"a","type":"text","required":true,"rows":null},{"label":"Year","value":"b","type":"number","required":true,"rows":null},{"label":"Status","value":"c","type":"text","required":true,"rows":null},{"label":"Adult Mortality","value":"d","type":"number","required":true,"rows":null},{"label":"infant deaths","value":"e","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"f","type":"number","required":true,"rows":null},{"label":"percentage expenditure","value":"g","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"h","type":"number","required":true,"rows":null},{"label":"Measles","value":"i","type":"number","required":true,"rows":null},{"label":"BMI","value":"j","type":"number","required":true,"rows":null},{"label":"under-five death","value":"k","type":"number","required":true,"rows":null},{"label":"Polio","value":"l","type":"number","required":true,"rows":null},{"label":"Total expenditure","value":"m","type":"number","required":true,"rows":null},{"label":"Diphtheria","value":"n","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"o","type":"number","required":true,"rows":null},{"label":"GDP","value":"p","type":"number","required":true,"rows":null},{"label":"Population","value":"q","type":"number","required":true,"rows":null},{"label":"thinness  1-19 years","value":"r","type":"number","required":true,"rows":null},{"label":"thinness 5-9 years","value":"s","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"y","type":"number","required":true,"rows":null},{"label":"Schooling","value":"u","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":"","y":"","u":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":80,"y":240,"wires":[["3e470429.dba7dc"]]},{"id":"f132fd6c.2ee4b","type":"debug","z":"f770c178.893a9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":900,"y":120,"wires":[]},{"id":"e6d94bb4.e05cc8","type":"ui_group","z":"","name":"Life Expectancy","tab":"cc12adbb.aa4c8","order":1,"disp":true,"width":"6","collapse":false},{"id":"cc12adbb.aa4c8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false}]